*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    margin: auto;
    margin-top: 20px;
    border: 1px solid #ebebeb;
    width: fit-content;
    background-color: #73adff;
    text-align: center;
    height: 580px;
}
.head{
    color: #73adff;
    font-weight: 500;
    height: 40px;
    padding-left: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    margin: 3px;
    border-radius: 5px;
    height: 80px;
}
.button{
    margin-top: 20px;
    font-size: medium;
    height: 50px;
}
.button button{
    width: 100px;
    height: 40px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
}
#reset{
    width: 70px;
    background-color: unset;
    color: black;
}

.display{
    width: 330px;
    text-align: left;
    padding: 10px;
    background-color: white;
    height: 180px;
    overflow: auto;
}
.text{
    display: flex;
}
.square{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border: 1px solid black;
}